:root {
    --cor-fundo: #01080E;
    --cor-principal: #111425;
    --cor-secundaria: #252525;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    padding: 50px;
    border-radius: 30px
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    font-size: 16px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    height: 100px;
    width: 400px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.imagecarroussel{
    height: 350px;
    width: 400px;
}